<!DOCTYPE html>
<html lang="en" data-theme="black">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bored Ape Yacht Club</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.7.3/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div class="d-flex flex-column min-vh-100">
    <header class="bg-black py-6">
      <div class="container mx-auto text-center">
        <h1 class="text-white text-4xl font-bold">Culture Currency Club</h1>
        <p class="text-gray-300 text-lg">A limited NFT collection where the token itself doubles as your membership to a swamp club for apes.</p>
      </div>
    </header>
    <main class="py-6">
      <div class="container mx-auto">
        <div class="row">
          <div class="col-md-6">
            <img src="https://cdn.leonardo.ai/users/6bc03184-51a9-4cb4-bfa9-da3333771666/generations/8cf0dac4-417d-419c-adb3-286243c900f8/SDXL_09_A_birds_eye_view_of_a_bustling_Baltimore_clubhouse_ill_0.jpg" alt="Bored Ape Yacht Club" class="w-100">
          </div>
          <div class="col-md-6">
            <h2 class="text-2xl font-bold">Join the club</h2>
            <p>Get your own Buisnessaire NFT and become a member of our exclusive swamp club.</p>
            <a href="#" class="btn btn-primary">Buy now</a>
          </div>
        </div>
      </div>
    </main>
    <footer class="py-6 text-center">
      <div class="container mx-auto">
        <p class="text-gray-300 text-lg">Copyright © 2023 For the Culture Games</p>
      </div>
    </footer>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.9.1/alpine.min.js"></script>
</body>
</html>